/* .home 
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */

.bienvenue {
    /* margin-top: 2rem; */
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 100vh; /* Utiliser 100% de la hauteur de la fenêtre */
    max-width: 100%; /* Pour garantir que la largeur ne dépasse pas la largeur de la fenêtre */
    background-color: #ffffff;
     
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour couvrir la totalité du conteneur */
  }
  
  .bienvenue .overlap-group {
    /* background-color: #1e1a1a92; */
    height: 40%; /* Utiliser 60% de la hauteur parente */
    left: 5%; /* Utiliser 5% de la largeur parente depuis la gauche */
    position: relative;
    top: 20%; /* Utiliser 5% de la hauteur parente depuis le haut */
    width: 90%; /* Utiliser 90% de la largeur parente */
    
  }
  
  .bienvenue .bienvenue-futurs ,  .bienvenue .welcome-future{
    /* -webkit-background-clip: text !important; */
    /* -webkit-text-fill-color: transparent; */
    background: rgb(0, 23.8, 15.93);
    opacity: 0.8;
    /* background: linear-gradient(180deg, rgb(4, 134, 91) 0%, rgb(0, 23.8, 15.93) 100%); */
    /* background-clip: text; */
    color: transparent;
    color: rgb(4, 134, 91);
    font-family: "Quicksand-Bold", Helvetica;
    font-size: 4vw; /* Utiliser une taille de police basée sur la largeur de la fenêtre */
    font-weight: 700;
    left: 5%; /* Utiliser 5% de la largeur parente depuis la gauche */
    letter-spacing: 0;
    line-height: 6.5vw; /* Utiliser une hauteur de ligne basée sur la largeur de la fenêtre */
    position: absolute;
    text-emphasis-color: transparent;
    top: 10%;/* Utiliser 10% de la hauteur parente depuis le haut */
    width: 55%; /* Utiliser 50% de la largeur parente */
    padding-left: 1.5rem;
  }

  .bienvenue .welcome-future 
  {
    top: 55%;
  }